.Rproj.user
.Rhistory
.RData
*.txt
*.html

# Sync only model-specific files from MatCont
# Requires that a factory-fresh installation of MatCont be first installed in
#   ~/MatCont7p1
# Any new models will have to be explicitly added with two nwe lines following the
#   pattern for OwlVole_III
MatCont7p1/*
!MatCont7p1/Systems
MatCont7p1/Systems/*
!MatCont7p1/Systems/OwlVole_II
!MatCont7p1/Systems/OwlVole_II.*
!MatCont7p1/Systems/OwlVole_III
!MatCont7p1/Systems/OwlVole_III.*